#box{
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 2px solid red;
}
a{
    width: 100px;
    height: 100px;
    text-decoration: none;
    background: #ff24cf;
    line-height: 100px;
    text-align: center;
    color: white;
    display: block;
}
a:hover{
    background: blue;
}
.a2, .a4{
    position: relative;
    left: 200px;
    top: -100px;
}
.a5{
    position: relative;
    left: 100px;
    top: -300px;
}