div, span{
    padding: 0;
    margin: 0;
}
#father{
    border: 1px #000 solid;
}
/*solve here*/
#father:after{
    content: '';
    display: block;
    clear: both;
}
.layer01{
    border: 1px #f00 dashed;
    display: inline-block;
    float: left;
}
.layer02{
    border: 1px #00f dashed;
    display: inline-block;
    float: left;
    clear: left;
}
.layer03{
    border: 1px #060 dashed;
    display: inline-block;
    float: right;
    clear: right;
}
.layer04{
    border: 1px #666 dashed;
    font-size: 12px;
    line-height: 23px;
    display: inline-block;
    float: right;
    clear: both;
}